body{
  font-family: Arial, sans-serif;
  background-color:rgb(3, 187, 243);
  font-size: 16px;
  
}


.card{
background-color: white;
width:300px;
height:100%;
max-width:960px;
margin:0px auto ;
padding:30px;
border-radius:20px;
align-items: center;
position:relative;
justify-content: center;
}

.card img{
  width:300px;
  border-radius:20px;
}

.card p{
  color:rgba(109, 128, 128, 0.911);
}